@import './_global.scss';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        width: 600px;
        min-height: 300px;
        background-color: $secondary-color;
        border-radius: 10px;
        padding: 40px;
        overflow: hidden;
        position: relative;
        box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);

        .loader-wrapper {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondary-color;
            z-index: 1;
        
            .loader {
                width: 50px;
                aspect-ratio: 1;
                $loader-background: no-repeat radial-gradient(farthest-side, $color-01 92%, transparent);
                background: 
                    $loader-background top,
                    $loader-background left,
                    $loader-background right,
                    $loader-background bottom;
                background-size: 12px 12px;
                animation: l7 1s infinite;
            }
            @keyframes l7 {to{transform: rotate(.5turn)}}
        }

        .default {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            label {
                width: 100%;
                margin-bottom: 10px;
                display: none;
            }
    
            input {
                width: 100%;
                height: 60px;
    
                padding: 10px 20px;
                border-radius: 10px;
                outline: none;
                border: none;
                font-size: 18px;

                transition: all 0.3s ease;

                &:not([type="submit"]) {
                    &:hover {
                        background-color: lighten($primary-color, 2%);
                    }

                    background-color: $primary-color;
                }

                &[type="submit"] {
                    background-color: $primary-color;
                    color: $primary-text-color;
                    cursor: pointer;
                    height: 80px;

                    &:hover {
                        background-color: darken($primary-color, 2%);
                    }
                }
            }
        }

        .message {
            width: 100%;
            height: 100%;

            small {
                font-size: 18px;
                font-weight: 300;
            }
        }
    }
}